<% @page_title = "Add ToDo Item" %>
<%#= link_to("<< Back to Index", todos_path, :class => 'back-link') %>

<h1>Create a new ToDo Item</h1>
<% if @todo.errors.any? %>
  <h2> Errors on save</h2>
  <ul>
    <% @todo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    
  </ul>
<% end %>


<%= form_for @todo do |f| %>
  <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Create ToDo Item") %>
    </div>
  
   
<% end %>
<br>
<%= link_to "Back to ToDo Items Listing", todos_path %>