<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !flash[:notice].blank? %>
        <p class="notice">
            <%= flash[:notice] %>
        </p>
      <% end %>
    <!--<%# flash.each do |name, msg| %>-->
    <!--  <ul>-->
    <!--    <li><%#= msg %></li>-->
    <!--  </ul>-->
    <!--<%# end %>-->
    <%= yield %>
  </body>
</html>
